:root {
    --chineseBlack: #0f0e17;
    --chineseBlackBg: #0f0e17;
    --darkGreenBg: #004643;
    --darkDeepGreen: #001E1D;
    --GunMetalBg: #2F2D3B;
    --White: #fffffe;
    --RaisinBlackBg: #1C1A26;
    --americanOrange: #ff8906;
    --americanOrangeBg: #ff8906;
    --Rajah: #F9BC60;
    --RajahBg: #F9BC60;
    --crayola: #a7a9be;
    --crayolaBg: #a7a9be;
    --fireOpal: #f25f4c;
    --razzMatazz: #e53170;
    --bronzeMetallic: #AF824C;
    --BlueGreenBg: #0AA2C3;
    --borderGrey: ##87868b;
    --desert: #AF824C;
}

.chineseBlack {
    color: var(--chineseBlack);
}

.chineseBlackBg {
    background: var(--chineseBlackBg);
}

.americanOrange {
    color: var(--americanOrange);
}

.americanOrangeBg {
    background: var(--americanOrangeBg);
}

.RajahBg {
    background: var(--RajahBg);
}

.White {
    color: var(--White);
}

.crayola {
    color: #a7a9be;
}

.razzMatazz {
    background: var(--razzMatazz);
}

.GunMetalBg {
    background: var(--GunMetalBg);
}

.GunMetal {
    color: var(--GunMetalBg);
}


.darkGreenBg {
    background: var(--darkGreenBg);
}

.RaisinBlackBg {
    background: var(--RaisinBlackBg);
}

.RaisinBlack {
    color: var(--RaisinBlackBg);
}

.bronzeMetallicBg {
    background: var(--bronzeMetallic);
}

.BlueGreenBg {
    background: var(--BlueGreenBg);
}

.BlueGreen {
    color: var(--BlueGreenBg);
}

.darkDeepGreen {
    color: var(--darkDeepGreen);
}

.borderGrey {
    background: var(--borderGrey);
}

.desertBg {
    background: var(--desert);
}