@keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .animate-expand {
    animation-name: expand;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }